name: YouTube Hindi Transcript

on:
  workflow_dispatch:
    inputs:
      youtube_url:
        description: 'Public YouTube video URL'
        required: true
        default: 'https://www.youtube.com/watch?v=8SRe1bNO38E'

jobs:
  transcribe:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Create Cookies File
      env:
        COOKIE_SECRET: ${{ secrets.YOUTUBE_
